# MY Firstt assignment

## Introduction

This is my  First peer graded Assignment

Following are the data science language
1. Julia
2.  Python
3.  R
4.  Java
5.  SQL

Following are the data scinec libraries
1.  Matplotlib
2.  Numpy
3.  Tensor flow
4.  Pandas 
5.  Keras


  S no. | Data Science Tools 
  |---- | -------------------- | 
 |1 | Python|
 |2 | Jupyter|
 |3| Matlab |
 |4| Google Collab|
 |5| Matplotlib|

In [22]:
A= 2
b = 4
c= A+b
print(c)

6

In [24]:
mul = A*b
print( 'multiply = ',mul)
add  = A+b
print('sum = ' ,add)

multiply =  8
sum =  6

In [25]:
minute = 56;
second = minute *60
print('Converted minute into second = ' , second)

Converted minute into second =  3360

Objective - To learn Jupyter notebook